<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Teletype Games</title>
	</head>
	<body>
		<header class="bg-gray-800 text-white p-4 flex justify-between items-center">
			<a href="/" class="text-xl font-bold">Teletype Games</a>
			<nav>
				<a href="/" class="p-2">Home</a>
				<a href="/catalog" class="p-2">Catalog</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
