# Domains
GITEA_DOMAIN=git.teletype.hu
GITEA_TECHNICAL_DOMAIN=gitea.vps.teletype.hu

WOODPECKER_DOMAIN=ci.teletype.hu
WOODPECKER_TECHNICAL_DOMAIN=woodpecker.vps.teletype.hu

WEBAPP_DOMAIN=games.teletype.hu
WEBAPP_TECHNICAL_DOMAIN=games.vps.teletype.hu

# Ports
GITEA_SSH_PORT=2222
DROPAREA_SSH_PORT=2223
TRAEFIK_WEB_PORT=9100
TRAEFIK_API_PORT=9101

# Secrets
GITEA_CLIENT_SECRET=
WOODPECKER_AGENT_SECRET=
MYSQL_ROOT_PASSWORD=
DB_PASSWORD=
UPDATE_SECRET=
DROP_PASSWORD=
